html, body {
  margin: 0;
  padding: 0;
}

.etch-a-sketch {
  background: #EE0000;
  border: 1px solid #CC0000;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 30px;
  width: 602px;
}

h1 {
  color: #D3DA0A;
  margin-bottom: 5px;
  text-align: center;
}

.instructions {
  color: #D3DA0A;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

canvas {
  background: white;
}

.artboard {
  border: 1px solid #CCC;
  border-radius: 2px;
}

.controls {
  display: flex;
  padding: 10px 0;
  color: #D3DA0A;
}

.control-left, .control-right {
  flex: 1;
}

.control-right {
  text-align: right;
}

